<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
  <meta property='og:type' content='website'>
  <meta property='og:title' content='Webエンジニア TAIKI SHIBAYAMA ポートフォリオ'>
  <meta property='og:url' content='URLが入る'>
  <meta property='og:description' content='Webエンジニア TAIKI SHIBAYAMA ポートフォリオサイトです！'>
  <meta property="og:image" content="img/ogp.png">
  <meta name="description" content="Webエンジニア TAIKI SHIBAYAMA ポートフォリオサイトです！" />
  <title>Webエンジニア TAIKI SHIBAYAMA ポートフォリオ</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet">
  <link href="css/reset.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/photoswipe/photoswipe.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/photoswipe/default-skin/default-skin.css" media="all" rel="stylesheet" type="text/css" />
  <link href="css/style.css" media="all" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="img/favicon.ico" />
  <link rel=”canonical” href=”URLが入る” />
</head>

<body>
  <div id="wrapper">
    <nav id="gnav" class="fixed">
      <ul>
        <li><a href="#works">WORKS</a></li>
        <li><a href="#feature">FEATURE</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#skill">SKILL</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </nav>
    <header id="header">
      <div class="inner">
        <h1 class="logo">
          <div class="logo-title">TAIKI SHIBAYAMA</div>
          <div class="logo-desc">MY PORTFOLIO</div>
        </h1>
      </div>
    </header>
    <main id="contents">
      <section class="section" id="works">
        <div class="inner">
          <div class="section-title-area">
            <h2 class="section-title">WORKS</h2>
            <div class="section-intro">
              <div class="section-text">
                Webサイト制作の記録です。<br class="pc">チーム開発分と個人開発分が含まれております。
              </div>
            </div>
          </div>
          <div class="section-body card-wrapper my-gallery">
            <div class="card">
              <a href="img/works/company.jpg" data-size="960x720" class="card-image hover-action-01">
                <img class="lazyload fadein" src="img/placeholder4x3.png" data-src="img/works/company.jpg" alt="" />
              </a>
              <div class="card-caption">
                <div class="card-caption-title">コピカリ（チーム開発）</div>
                <div class="card-caption-info">Design / Coding / Ruby on rails</div>
                <div class="card-caption-url"><a class="url-link" href="http://3.113.185.115/" target="_blank">Link</a>
                </div>
              </div>
            </div>
            <div class="card">
              <a href="img/works/hairsalon.jpg" data-size="960x720" class="card-image hover-action-01">
                <img class="lazyload fadein" src="img/placeholder4x3.png" data-src="img/works/hairsalon.jpg" alt="" />
              </a>
              <div class="card-caption">
                <div class="card-caption-title">青色会議</div>
                <div class="card-caption-info">Design / Coding / Ruby on rails </div>
                <div class="card-caption-url"><a class="url-link" href="https://blue-meeting.herokuapp.com/" target="_blank">Link</a>
                <div class="card-caption-user">(email→user2@com パスワード→1212abcd)</div>
                </div>
              </div>
            </div>
            <div class="card">
              <a href="img/works/girly.jpg" data-size="960x720" class="card-image hover-action-01">
                <img class="lazyload fadein" src="img/placeholder4x3.png" data-src="img/works/girly.jpg" alt="" />
              </a>
              <div class="card-caption">
                <div class="card-caption-title">fxtraders-navi</div>
                <div class="card-caption-info">Design / Coding / Ruby on rails </div>
                <div class="card-caption-url"><a class="url-link" href="https://fxtradersnavi.herokuapp.com/" target="_blank">Link</a>
                </div>
                <div class="card-caption-info"></div>
              </div>
            </div>
            <div class="card">
              <a href="img/works/school.jpg" data-size="960x720" class="card-image hover-action-01">
                <img class="lazyload fadein" src="img/placeholder4x3.png" data-src="img/works/school.jpg" alt="" />
              </a>
              <div class="card-caption">
                <div class="card-caption-title">Florista Linda</div>
                <div class="card-caption-info">Design / Coding / WordPress </div>
                <div class="card-caption-url"><a class="url-link" href="https://myport-folio.com/" target="_blank">Link</a></div>
                <div class="card-caption-info"></div>
              </div>
            </div>
            <div class="card">
              <a href="img/works/game.jpg" data-size="960x720" class="card-image hover-action-01">
                <img class="lazyload fadein" src="img/placeholder4x3.png" data-src="img/works/game.jpg" alt="" />
              </a>
              <div class="card-caption">
                <div class="card-caption-title">coming soon</div>
                <div class="card-caption-info"></div>
              </div>
            </div>
            <div class="card">
              <a href="img/works/fashion.jpg" data-size="960x720" class="card-image hover-action-01">
                <img class="lazyload fadein" src="img/placeholder4x3.png" data-src="img/works/fashion.jpg" alt="" />
              </a>
              <div class="card-caption">
                <div class="card-caption-title">coming soon</div>
                <div class="card-caption-info"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section" id="feature">
        <div class="inner">
          <div class="section-title-area">
            <h2 class="section-title">FEATURE</h2>
            <div class="section-intro">
              1サイトの解説
            </div>
          </div>
          <div class="section-body">
            <div class="section-image">
            <img src="/assets/image.png" height="500px">
            </div>
            <div class="section-desc">
              <div class="section-text">
                <span class="text-bold">サイト名：コピカリ</span><br><a href="http://3.113.185.115/"
                  target="_blank">http://3.113.185.115/</a>
                  <p>(username: mercari64j password: 6464)</p><br><br>
                <span class="text-bold">担当：</span><br>Design / Coding / Ruby on rails
                <br>
                <br>
                <br>
                <span
                  class="text-bold">コメント：</span><br>・担当箇所説明<br> ①DB設計<br>必要なテーブル、カラムの選定。アソシエーションの決定。<br>ER図の作成。各テーブルの作成。<br>②各種コントローラー、モデルの作成<br>各種コントローラーの作成。モデルへのアソシエーションの記述
                  <br>③フロント側制作(4ページ)<br>トップページのヘッダー作成。商品出品ページの作成。商品購入確認ページの作成。ユーザーログアウトページの作成
                  <br>④ユーザー登録機能<br>googleとfacebook経由での新規登録及びログイン機能の実装。google、facebookへのアクセスキーを保存するモデル、コントローラ、ルーティングの作成。登録した情報にアクセスする為のキーをbash_profileへ保存する機能の実装。bash_profileのキーを利用してSNS認証に必要な情報を取得し、新規登録できる機能の実装。新規登録後にログアウトし、その後再度ログインできる機能の実装。RubyonRailsの”omniauth” “omniauth-facebook” “omniauth-google-oauth2”を使用し、SNS認証機能を追加した。
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section" id="about">
        <div class="inner">
          <div class="section-title-area">
            <h2 class="section-title">ABOUT</h2>
            <div class="section-intro">
              こんにちは！
            </div>
          </div>
          <div class="section-body">
            <div class="section-image">
              <img src="/assets/majyan.jpeg" height="500px">
              <img src="/assets/ball.jpeg" height="500px">
            </div>
            <div class="section-desc">
              <div class="section-text">
                宮城県出身の29歳です！地元の大学卒業後、新卒で都内の機械メーカーに営業職として入社しました。その会社では4年間働いた後、2017年〜IT広告系の会社で仕事がしたいということで、東証一部上場企業の営業職として入社し、約1年9ヶ月ほど働いて、現在に至ります。<br>趣味は、読書、フットサル、麻雀などです。割と多趣味な方なので、マイナーな趣味なども、もしかしたら分かるかもしれません・・・<br>あとは、シェアハウスに住んでいるのでおすすめのとこがあれば是非教えて頂きたいです！
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section" id="skill">
        <div class="inner">
          <div class="section-title-area">
            <h2 class="section-title">SKILL</h2>
            <div class="section-intro">
              未経験ですが頑張ります！
            </div>
          </div>
          <div class="section-body card-wrapper">
            <div class="card">
              <div class="skill-icon">
                <img src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-desc">
                <h3 class="skill-desc-title">HTML5/CSS3</h3>
                <div class="rating">
                  <div class="rate rate4"></div>
                </div>
                <div class="section-text">
                  基本的な作業は一通りできます。あとはコーディングも含めて、フロントエンド系が好きです。</div>
              </div>
            </div>
            <div class="card">
              <div class="skill-icon">
                <img src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-desc">
                <h3 class="skill-desc-title">JavaScript</h3>
                <div class="rating">
                  <div class="rate rate2"></div>
                </div>
                <div class="section-text">
                  これからがんばります！一番勉強したい分野です！</div>
              </div>
            </div>
            <div class="card">
              <div class="skill-icon">
                <img src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-desc">
                <h3 class="skill-desc-title">Ruby on rails</h3>
                <div class="rating">
                  <div class="rate rate3"></div>
                </div>
                <div class="section-text">
                  ミニアプリを何回も作成したので、エラーに関しても理解度が深まりました。</div>
              </div>
            </div>
            <div class="card">
              <div class="skill-icon">
                <img src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-desc">
                <h3 class="skill-desc-title">github</h3>
                <div class="rating">
                  <div class="rate rate4"></div>
                </div>
                <div class="section-text">
                  初期段階ではかなりつまづいたのですが、なるべく自力で解決しようとしていたので、かなり理解度が上がりました。またチーム開発でも、コンフリクトが頻繁に発生したので慣れたという部分もあります。</div>
              </div>
            </div>
            <div class="card">
              <div class="skill-icon">
                <img src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-desc">
                <h3 class="skill-desc-title">Ruby</h3>
                <div class="rating">
                  <div class="rate rate3"></div>
                </div>
                <div class="section-text">
                  引数や関数なども含めて、この辺は短期間に集中して勉強したので理解度が上がりました。
                </div>
              </div>
            </div>
            <div class="card">
              <div class="skill-icon">
                <img src="img/skill/icon_skill.png" alt="">
              </div>
              <div class="skill-desc">
                <h3 class="skill-desc-title">AWS</h3>
                <div class="rating">
                  <div class="rate rate3"></div>
                </div>
                <div class="section-text">
                  AWSを使用したデプロイを二回行いました。デプロイに関しては、問題ありません。
                </div>
              </div>
            </div>
          </div>
      </section>
      <section class="section" id="contact">
        <div class="inner">
          <div class="section-title-area">
            <h2 class="section-title">CONTACT</h2>
            <div class="section-intro">
              お問い合わせは、メールでお願いいたします。
            </div>
          </div>
          <div class="section-body contact-wrapper">
            <div class="contact-list">
              <ul>
                <li><a href="https://twitter.com/" target="_blank"><img src="img/contact/icon_tw.png" alt=""></a>
                </li>
                <li><a href="https://www.facebook.com/" target="_blank"><img src="img/contact/icon_fb.png" alt=""></a>
                </li>
              </ul>
              <div class="contact-other">taitaisuke8888smile@gmail.com</div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer id="footer">
      <div class="pageTop">
        <div id="js-pageTop">
          Page Top
        </div>
      </div>
      <div class="inner">
        <div class="copyright">Copyright&copy;TAIKI SHIBAYAMA. All Rights Reserved.</>
        </div>
    </footer>
  </div>


  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
           It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides.
              PhotoSwipe keeps only 3 of them in the DOM to save memory.
              Don't modify these 3 pswp__item elements, data is added later on. -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
      <div class="pswp__ui pswp__ui--hidden">

        <div class="pswp__top-bar">

          <!--  Controls are self-explanatory. Order can be changed. -->

          <div class="pswp__counter"></div>

          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>



          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

          <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
          <!-- element will get class pswp__preloader--active when preloader is running -->
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>

        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
        </button>

        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
        </button>

        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>

      </div>

    </div>

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type='text/javascript' src="js/photoswipe/photoswipe.min.js"></script>
  <script type='text/javascript' src="js/photoswipe/photoswipe-ui-default.js"></script>
  <script type='text/javascript' src="js/photoswipe/photoswipe_setup.js"></script>
  <script type='text/javascript' src="js/lazysizes/lazysizes.min.js"></script>
  <script type='text/javascript' src="js/script.js"></script>
</body>
</html> 